.social-btn{
  display: inline;
  padding: 7px;
  background: #3b5998;
  border: 1px solid black;
  text-align: center;
  font-family: "Museo Slab", "Museo Sans", "Arial";
  color: white;
  border-radius: 25px;
}
